*{
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
    
}
body{
background-color: #f6f8fc;
}


.modal-content {
    border-radius: 1rem;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: none;
}

.modal-title {
    font-weight: bold;
}


.content{ 
    width: 100vw;
     height: 100vh;
    padding: 1rem;
    background-color: #fff;
}


@media screen and (min-width: 992px){
    .content{
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
 }
}







